.b-table{display: grid; grid-template-columns: repeat(9, 1fr); margin: 20px; grid-gap: 5px}
  .b-table__header-cell{background-color: gray; text-transform: capitalize}
  .b-table__header-cell, .b-table__cell{padding: 1px 3px; height: 23px; display: flex; align-items: center}

  .b-table input{width: 100%; display: inline;}