body {margin: 0; padding: 0; font-family: sans-serif;}

.l-root{max-width: 1200px; margin: 0 auto;}

.u-link{cursor: pointer; text-decoration: underline; color: green;}

.b-home{
  &__title{font-weight: bold; font-size: 30px; margin: 40px 0;}
  &__links{display: flex; justify-content: center; a{@extend .u-link;}; a:not(:last-child){margin-right: 30px;}}
}

.l-pane{padding: 20px;}

.b-login{
  padding: 10px; border-bottom: 1px solid black; text-align: center;
  &__name{font-weight: bold;}
  &__btn{margin-left: 15px;}
}

.b-menu{
  display: flex; justify-content: center; padding: 10px; border-bottom: 1px solid black;
  &__item{display: block; background-color: gray; cursor: pointer; padding: 3px 8px; color: white; border-radius: 2px; text-decoration: none}
  &__item.active{background-color: green}
  &__item:not(:last-child){margin-right: 20px;}
}
  
.b-table{
  display: grid; grid-gap: 5px;
  &__header-cell{background-color: gray; text-transform: capitalize}
  &__header-cell, .b-table__cell{padding: 1px 3px; height: 23px; display: flex; align-items: center}
  input{width: 100%; display: inline;}
}
  
.b-reservations{
  margin-top: 30px; padding: 30px;
  &__inner{border: 1px solid black; padding: 10px;}
  &__title{text-align: center; margin-bottom: 15px;}
  &__loading{text-align: center; font-size: 12px;}
  &__no-data{text-align: center;}
}
  